{% extends "base.html" %}
{% block head %}
  {{ super() }}

{% endblock %}
{% block content %}
<div id="main">
    <div class="header">
        <h1>Page Title</h1>
        <h2>A subtitle for your page goes here</h2>
    </div>

    <div class="content">
      <form class="pure-form pure-form-aligned" onsubmit="return false;" id="sendForm" >
        <fieldset>
            <div class="pure-control-group">
                <label for="name">Username</label>
                <input id="name" type="text" placeholder="Username">
            </div>

            <div class="pure-control-group">
                <label for="income">Income</label>
                <input id="income" type="number" step="0.01" placeholder="00000.00">
            </div>
            <div class="pure-control-group">
                <label for="rent">Rent</label>
                <input id="rent" type="number" step="0.01" placeholder="0000.00">
            </div>
            <div class="pure-control-group">
                <label for="food">Food</label>
                <input id="food" type="number" step="0.01" placeholder="000.00">
            </div>
            <div class="pure-control-group">
                <label for="transportation">Transportation</label>
                <input id="transportation" type="number" step="0.01" placeholder="000.00">
            </div>
            <div class="pure-control-group">
                <label for="recreation">Recreation</label>
                <input id="recreation" type="number" step="0.01" placeholder="000.00">
            </div>

            <div class="pure-controls">
                <button type="button" id="submitButton" class="pure-button pure-button-primary">Submit</button>
            </div>
        </fieldset>
      </form>
    </div>
    <script src='static/script/javascript.js'></script>
  </div>
{% endblock %}
